<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<script type="text/javascript" src="../js/vue-2.5.16.js"></script>
	</head>

	<body>
		<div id="app" class="container">
			<!-- 使用{{}} 进行数据绑定，展示data中的数据 -->
			{{message}}

			<br>
			<hr>
			<!-- 数据循环展示 这里是豆瓣中截取的真实json返回数据 这里打算用表格展示出来-->

			<table class="table table-hover">
				<tr>
					<th>id</th>
					<th>电影名</th>
					<th>导演</th>
					<th>主演</th>
				</tr>

				<tr v-for="(one_movie_info,key) in movie_cates.data">
					<td>{{key}}</td>
					<td>{{one_movie_info.title}}</td>
					<td>{{one_movie_info.directors[0]}}</td>
					<td> <span v-for="cast in one_movie_info.casts">{{cast}},</span></td>
				</tr>
			</table>

		</div>
	</body>
	<!-- 这里要注意 要将自己定义的js动作写在下面 因为页面是有加载顺序的 -->
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!',
				movie_cates: {
					"data": [{
						"directors": ["特拉维斯·奈特"],
						"rate": "7.2",
						"cover_x": 1080,
						"star": "35",
						"title": "大黄蜂",
						"url": "https:\/\/movie.douban.com\/subject\/26394152\/",
						"casts": ["海莉·斯坦菲尔德", "小豪尔赫·兰登伯格", "约翰·塞纳", "杰森·德鲁克", "帕梅拉·阿德龙"],
						"cover": "https://img1.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2541662397.webp",
						"id": "26394152",
						"cover_y": 1590
					}, {
						"directors": ["曹保平"],
						"rate": "8.3",
						"cover_x": 1601,
						"star": "40",
						"title": "狗十三",
						"url": "https:\/\/movie.douban.com\/subject\/25716096\/",
						"casts": ["张雪迎", "果靖霖", "智一桐", "代旭", "黄诗佳"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2540513831.webp",
						"id": "25716096",
						"cover_y": 2500
					}, {
						"directors": ["黄家康", "赵霁"],
						"rate": "7.9",
						"cover_x": 5315,
						"star": "40",
						"title": "白蛇：缘起",
						"url": "https:\/\/movie.douban.com\/subject\/30331149\/",
						"casts": ["张喆", "杨天翔", "唐小喜", "刘薇", "张遥函"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2544313786.webp",
						"id": "30331149",
						"cover_y": 7441
					}, {
						"directors": ["饶晓志"],
						"rate": "8.1",
						"cover_x": 1429,
						"star": "40",
						"title": "无名之辈",
						"url": "https:\/\/movie.douban.com\/subject\/27110296\/",
						"casts": ["陈建斌", "任素汐", "潘斌龙", "章宇", "王砚辉"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2539661066.webp",
						"id": "27110296",
						"cover_y": 2000
					}, {
						"directors": ["文牧野"],
						"rate": "9.0",
						"cover_x": 1080,
						"star": "45",
						"title": "我不是药神",
						"url": "https:\/\/movie.douban.com\/subject\/26752088\/",
						"casts": ["徐峥", "王传君", "周一围", "谭卓", "章宇"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2519070834.webp",
						"id": "26752088",
						"cover_y": 1512
					}, {
						"directors": ["亚当·罗比特尔"],
						"rate": "7.3",
						"cover_x": 1153,
						"star": "35",
						"title": "密室逃生",
						"url": "https:\/\/movie.douban.com\/subject\/27109679\/",
						"casts": ["泰勒·拉塞尔", "洛根·米勒", "黛博拉·安沃尔", "泰勒·莱伯恩", "杰·埃利斯"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2543631842.webp",
						"id": "27109679",
						"cover_y": 1700
					}, {
						"directors": ["五百"],
						"rate": "6.7",
						"cover_x": 1057,
						"star": "35",
						"title": "“大”人物",
						"url": "https:\/\/movie.douban.com\/subject\/26816076\/",
						"casts": ["王千源", "包贝尔", "王迅", "王砚辉", "屈菁菁"],
						"cover": "https://img1.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2544988187.webp",
						"id": "26816076",
						"cover_y": 1500
					}, {
						"directors": ["庄文强"],
						"rate": "8.1",
						"cover_x": 714,
						"star": "40",
						"title": "无双",
						"url": "https:\/\/movie.douban.com\/subject\/26425063\/",
						"casts": ["周润发", "郭富城", "张静初", "冯文娟", "廖启智"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2535096871.webp",
						"id": "26425063",
						"cover_y": 1000
					}, {
						"directors": ["鲁本·弗雷斯彻"],
						"rate": "7.2",
						"cover_x": 2050,
						"star": "35",
						"title": "毒液：致命守护者",
						"url": "https:\/\/movie.douban.com\/subject\/3168101\/",
						"casts": ["汤姆·哈迪", "米歇尔·威廉姆斯", "里兹·阿迈德", "斯科特·黑兹", " 瑞德·斯科特"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2537158013.webp",
						"id": "3168101",
						"cover_y": 2910
					}, {
						"directors": ["史蒂文·斯皮尔伯格"],
						"rate": "8.7",
						"cover_x": 2000,
						"star": "45",
						"title": "头号玩家",
						"url": "https:\/\/movie.douban.com\/subject\/4920389\/",
						"casts": ["泰伊·谢里丹", "奥利维亚·库克", "本·门德尔森", "马克·里朗斯", "丽娜·维特"],
						"cover": "https://img1.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2516578307.webp",
						"id": "4920389",
						"cover_y": 3000
					}, {
						"directors": ["詹姆斯·卡梅隆"],
						"rate": "9.3",
						"cover_x": 2015,
						"star": "45",
						"title": "泰坦尼克号",
						"url": "https:\/\/movie.douban.com\/subject\/1292722\/",
						"casts": ["莱昂纳多·迪卡普里奥", "凯特·温丝莱特", "比利·赞恩", "凯西·贝茨", "弗兰西丝·费舍"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p457760035.webp",
						"id": "1292722",
						"cover_y": 3000
					}, {
						"directors": ["吕克·贝松"],
						"rate": "9.4",
						"cover_x": 658,
						"star": "45",
						"title": "这个杀手不太冷",
						"url": "https:\/\/movie.douban.com\/subject\/1295644\/",
						"casts": ["让·雷诺", "娜塔莉·波特曼", "加里·奥德曼", "丹尼·爱罗", "彼得·阿佩尔"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p511118051.webp",
						"id": "1295644",
						"cover_y": 980
					}, {
						"directors": ["孔笙", "黄伟"],
						"rate": "8.9",
						"cover_x": 2560,
						"star": "45",
						"title": "大江大河",
						"url": "https:\/\/movie.douban.com\/subject\/26797690\/",
						"casts": ["王凯", "杨烁", "董子健", "童瑶", "杨立新"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2541093820.webp",
						"id": "26797690",
						"cover_y": 3840
					}, {
						"directors": ["涅提·蒂瓦里"],
						"rate": "9.1",
						"cover_x": 4500,
						"star": "45",
						"title": "摔跤吧！爸爸",
						"url": "https:\/\/movie.douban.com\/subject\/26387939\/",
						"casts": ["阿米尔·汗", "法缇玛·萨那·纱卡", "桑亚·玛荷塔", "阿帕尔夏克提·库拉那", "沙克希·坦沃"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2457983084.webp",
						"id": "26387939",
						"cover_y": 6300
					}, {
						"directors": ["新海诚"],
						"rate": "8.4",
						"cover_x": 1428,
						"star": "40",
						"title": "你的名字。",
						"url": "https:\/\/movie.douban.com\/subject\/26683290\/",
						"casts": ["神木隆之介", "上白石萌音", "长泽雅美", "市原悦子", "成田凌"],
						"cover": "https://img1.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2395733377.webp",
						"id": "26683290",
						"cover_y": 2000
					}, {
						"directors": ["林超贤"],
						"rate": "8.3",
						"cover_x": 1429,
						"star": "40",
						"title": "红海行动",
						"url": "https:\/\/movie.douban.com\/subject\/26861685\/",
						"casts": ["张译", "黄景瑜", "海清", "杜江", "蒋璐霞"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2514119443.webp",
						"id": "26861685",
						"cover_y": 2000
					}, {
						"directors": ["闫非", "彭大魔"],
						"rate": "6.6",
						"cover_x": 679,
						"star": "35",
						"title": "西虹市首富",
						"url": "https:\/\/movie.douban.com\/subject\/27605698\/",
						"casts": ["沈腾", "宋芸桦", "张一鸣", "张晨光", "常远"],
						"cover": "https://img1.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2529206747.webp",
						"id": "27605698",
						"cover_y": 950
					}, {
						"directors": ["张大鹏"],
						"rate": "7.6",
						"cover_x": 5916,
						"star": "40",
						"title": "啥是佩奇",
						"url": "https:\/\/movie.douban.com\/subject\/30435141\/",
						"casts": ["李玉宝", "邵杰睿"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2545714740.webp",
						"id": "30435141",
						"cover_y": 8833
					}, {
						"directors": ["黄渤"],
						"rate": "7.1",
						"cover_x": 1080,
						"star": "35",
						"title": "一出好戏",
						"url": "https:\/\/movie.douban.com\/subject\/26985127\/",
						"casts": ["黄渤", "舒淇", "王宝强", "张艺兴", "于和伟"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2529571873.webp",
						"id": "26985127",
						"cover_y": 1512
					}, {
						"directors": ["吴京"],
						"rate": "7.1",
						"cover_x": 1024,
						"star": "35",
						"title": "战狼2",
						"url": "https:\/\/movie.douban.com\/subject\/26363254\/",
						"casts": ["吴京", "弗兰克·格里罗", "吴刚", "张翰", "卢靖姗"],
						"cover": "https://img3.doubanio.com\/view\/photo\/s_ratio_poster\/public\/p2494701965.webp",
						"id": "26363254",
						"cover_y": 1548
					}]
				}
			}
		})
	</script>

</html>
